.table-row,.table-header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.column-data,.column-title {
  padding: 10px 10px 10px 10px;
  text-transform: capitalize;
  width: 30%;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.col-md-1 {
    width: 10%;
  }
  &.col-md-2 {
    width: 20%;
  }
  .col-md-3 {
    width: 30%
  }
}

.column-data {
  font-size: 13px;
  color: rgba(9, 30, 66, .74);
}
.column-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
